{:paths   ["src"]
 :deps    {com.github.seancorfield/honeysql    {:mvn/version "2.2.891"}
           com.github.seancorfield/next.jdbc   {:mvn/version "1.2.780"}
           com.taoensso/nippy                  {:mvn/version "3.2.0"}
           com.walmartlabs/lacinia             {:mvn/version "1.1"}
           com.taoensso/timbre                 {:mvn/version "6.0.2"}
           com.google.guava/guava              {:mvn/version "31.1-jre"}
           failjure/failjure                   {:mvn/version "2.2.0"}
           io.github.hlship/trace              {:git/url "https://github.com/jungwookim/trace"
                                                :git/sha "27e0faf04fa865d902730da9b944053445f0be7d"}
           io.sentry/sentry-clj                {:mvn/version "5.7.180"}
           org.clojure/clojure                 {:mvn/version "1.11.1"}
           org.clojure/tools.logging           {:mvn/version "1.2.4"}
           org.clojure/core.match              {:mvn/version "1.0.0"}
           superlifter/superlifter             {:git/url "https://github.com/green-labs/superlifter.git"
                                                :sha     "e0df5b36b496c485c75f38052a71b18f02772cc0"}
           metosin/malli                       {:mvn/version "0.8.4"}}

 :aliases {:test     {:extra-paths ["test"]
                      :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0"
                                                                          :git/sha "b3fd0d2"}}
                      :exec-fn     cognitect.test-runner.api/test
                      :exec-args   {:excludes [:integration]}}

           :build    {:deps              {com.github.liquidz/build.edn {:git/tag "0.3.90"
                                                                        :git/sha "e3a3e31"}}
                      :ns-default        build-edn.main}
           :quickdoc {:deps      {org.babashka/cli            {:mvn/version "0.4.36"}
                                  io.github.borkdude/quickdoc {:deps/root "jvm"
                                                               :git/sha   "c5320cbe311b651a60b47f4d00d7e8ab63291b6e"}}
                      :main-opts ["-m" "babashka.cli.exec" "quickdoc.api" "quickdoc"]
                      :exec-args {:github/repo "https://github.com/green-labs/gosura"
                                  :git/branch  "master"}}}}
