{:target-ns test-namespace
 :node-type :test-type
 :db-key    :db
 :filters   {:country-code  #var gosura.auth-test/get-country-code
             :language-code [clojure.core/get-in [:identity :language-code]]}
 :resolvers {:resolve-connection {:settings      {:auth clojure.core/identity}
                                  :table-fetcher clojure.core/identity}
             :resolve-by-fk      {:settings     {:auth clojure.core/identity}
                                  :superfetcher clojure.core/identity
                                  :fk-in-parent :test-id}
             :one-by-xxx         {:settings  {:auth clojure.core/identity}
                                  :fetch     #var clojure.core/identity
                                  :parent-id {:prop :xxx
                                              :agg :aaa}}}}
